/*@author Gareth Rice*/
/*rieg23@up.edu*/

body{
	/*set a gradient background*/
	/*background-image:linear-gradient(to bottom, #FFC299, #FF6600);*/
	background-image:linear-gradient(to bottom, #FFC299, #FFC299); 
	/*cover the whole page*/
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/*the table for the masthead*/
#mastHead{
	background-color:#FF6600;
	position:absolute;
	top:10px;
	left:10px;
	border-radius:25px;
	width:150px;
	height:75px;
}

td{
	color:#123456;
	font-weight:bold;
	font-size:42px;
}

/*trek header is inside of masthead table*/
#trekHeader{
	position:relative;
	top:8px;
	left:4px;
}

#upHeader{
	position:relative;
	bottom:8px;
	right:4px;
}

