/* all_style
 * @author Brynn Harrington
 * style sheet for all files 
 */

/* styling for all */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
}

/* overall html and body styling */
html,
body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

/* link styling */
a {
    text-decoration: none;
    color: white;
}