.float-parent-element {
    width: 50%;
}
.float-child-element {
    float: left;
    width: 50%;
}
.red {
    background-color: red;
    margin-left: 50%;
    height: 100px;
}
.yellow {
    margin-left: 50%;
    height: 100px;
    background-color: yellow;
}



/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* For collapsible */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



/* dropdown */
/* dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 32px;
  margin-top: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* dropdown button on hover & focus */
/* .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
} */



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 50px;/* adds space below dropdown buttons so the dropdown shows up */
}

/* dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: none;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px;
  margin-top: 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* .show {display:block;} */





/* for search bar */
.navbar .search-container {
  float: right;
  text-align: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}



/* for sliders */
.slidercontainer {
  width: 100%;
}

.slider {
  width: 50%;
  height: 15px;
}







/*  */
