/*@author Gareth Rice - rieg23@up.edu
 @author Brynn Harrington - harringt23@up.edu
    - cleanup because the colors are really not
    even remotely close to color-blind friendly
    (yes I'm color-blind, yes didn't realize how
    often this would come up in CS MY BAD I'M SORRY*/

* {
    color: rgb(73, 10, 29);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    /*set a gradient background*/
    background-image: linear-gradient(to bottom, white, white);
    /*cover the whole page*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flip-card {
    background-color: transparent;
    width: 30%;
    height: 100%;
}


/* this isn't needed anymore since I found a lower solution but I don't want to change it back */

.flip-card-search {
    background-color: transparent;
    width: 150px;
    height: 150px;
    /* margin-left:30%; */
    /* margin-right:5%; */
    perspective: 1000px;
}

.searchHikes td {
    padding: 17px;
}

#firstCol {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-search:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #bbb;
    color: black;
}


/* Style the back side */

.flip-card-back {
    background-color: #111111;
    color: white;
    transform: rotateY(180deg);
}

.flip-text {
    font-size: 30%;
}

#flip1 {
    width: 100%;
    height: 100%;
}

#flip1outer {
    width: 30%;
    height: 70%;
    /* margin-bottom:30%; */
    /* margin-left:300%; */
    margin-bottom: 40%;
    margin-left: 84%;
}

#flip2 {
    width: 100%;
    height: 100%;
}

#flip2outer {
    width: 30%;
    height: 85%;
    /* margin-left:150%; */
    margin-bottom: 33%;
    margin-left: 45%;
}

#flip3 {
    width: 100%;
    height: 100%;
}

#flip3outer {
    width: 30%;
    height: 85%;
    /* margin-left:350%; */
    margin-bottom: 33%;
    margin-left: 25%;
}

#flip4 {
    width: 100%;
    height: 100%;
}

#flip4outer {
    width: 30%;
    height: 85%;
    margin-bottom: 25%;
    margin-top: 6%;
    /* 8 */
    /* margin-left:300%; */
    margin-left: 85%;
}


/* New compass implementation */

.compassRecommend {
    position: relative;
    margin: auto;
    margin-top: 85px;
    background: url('../images/compass1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    width: 70%;
    height: 70%;
}

.compassTable {
    width: 100%;
    height: 100%;
}

.ctRow {
    width: 100%;
    height: 33%;
}

.ctCol {
    width: 50%;
    height: 100%;
}