/* index_style
 * @author Brynn Harrington
 * style sheet for the homepage 
 */



/********************************************************
 * Higher-Level Styling 
 ********************************************************/
/* styling for all */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25vw;
}

html,
body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    width: 100%;
    height: 100%;
    background: transparent;
}
