/* index_style
 * @author Brynn Harrington
 * style sheet for the homepage 
 */

/* style for scaling / viewing */
.page-div,
.compass-table,
.compass-table-row,
.compass-table-col,
.flip-card,
.flip-card-front,
.flip-card-back,
.flip-card-inner,
.flip-card-search {
    /* display: flex; */
    /* position: relative; */
    /* margin: auto; */
    /* height: 65%;
    width: 100%; */
    /* z-index: 5; */
}

/* page divider */
.page-div {
    display: flex;
    position: relative;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url('../images/compass.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    height: 65%;
    width: 100%;
    z-index: 5;
}

/* tables */
/* td {
    color: #588c7e;
    font-weight: bold;
    font-size: 300%;
} */

/* compass table style */
/* .compass-table {
    width: 100%;
    height: 100%;
}

.compass-table-row {
    width: 100%;
    height: 33%;
}

.compass-table-col {
    width: 50%;
    height: 100%;
} */

/* flip card style 
 * source: https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #588c7e;
    color: white;
}

.flip-card-back {
    background-color: #588c7e;
    color: white;
    transform: rotateY(180deg);
} */

.flip-text {
    /* font-size: 30%; */
}

.flip-card-front, .flip-card-back {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card:hover {
    transform: rotateY(180deg);
    transition-duration: 0.8ms;
}

.flip-card {
    height: 200px;
    border: solid;
    transition-duration: 0.8ms;
    transform-style: preserve-3d;
}

.flip-card-back {
    background: #588c7e;
    transform: rotateY(180deg);
}

.flip-card-front {
    background: #588c7e;
    position: absolute;
    width: 100%;
}

/* .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 50%;
    height: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #588c7e;
    color: white;
}

.flip-card-back {
    background-color: #588c7e;
    color: white;
    transform: rotateY(180deg);
} */


/* top card */

/* .flip-card {
    background-color: transparent;
    width:150px;
    height:150px;
    width: 30%;
    height: 100%;
    perspective:1000px;
}

.flip-card-search {
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
} */

/* .searchHikes td {
    padding: 17px;
} */
/* 
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover,
.flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-search:hover,
.flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: black;
    color: black;
}

.flip-card-back {
    background-color: #588c7e;
    color: white;
    transform: rotateY(180deg);
}

.flip-text {
    font-size: 30%;
}

#flip-top {
    width: 100%;
    height: 100%;
}

#flip-top-outer {
    width: 30%;
    height: 70%;
    margin-bottom: 40%;
    margin-left: 84%;
} */
/* 
#flip2 {
    width: 100%;
    height: 100%;
}

#flip2outer {
    width: 30%;
    height: 85%;
    margin-bottom: 33%;
    margin-left: 45%;
} */

/* #flip3 {
    width: 100%;
    height: 100%;
}

#flip3outer {
    width: 30%;
    height: 85%;
    margin-bottom: 33%;
    margin-left: 25%;
} */
/* 
#flip4 {
    width: 100%;
    height: 100%;
}

#flip4outer {
    width: 30%;
    height: 85%;
    margin-bottom: 25%;
    margin-top: 6%;
    margin-left: 85%;
} */