/*
 * @author Brynn Harrington and Gareth Rice
 * style sheet for the top bar
 */

/* header */
.header-div {
    /* border-style: dashed; */
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    z-index: 5;
    background-color: #588c7e;
}

/* title division */
.title-div {
    width: 25%;
    display: inline-block;
}

/* mast head division */
.mast-head {
    position: inherit;
    line-height: inherit;
    padding: 2.5%;
    /* border-radius:25px; */
    /* height:inherit; */
}

/* mast head hover */
.mast-head:hover {
    background-color: #83a39b;
    cursor: pointer;
}

/* mast head table */
td {
    color: white;
    font-size: 200%;
    font-weight: bold;
    line-height: inherit;   
}

/* trek text */
.trek-header {
    position: relative;
    top: 6px;
    left: 4px;
}

/* up text */
.up-header {
    position: relative;
    bottom: 2px;
    right: 2px;
}



.profPic {
    float: right;
    margin-right: 0.7%;
    /* width:4%; */
    /* height:4%; */
    width: 60px;
    height: 60px;
}

.profPic:hover {
    background-color: #648B7F;
    cursor: pointer;
}