#mastHead {
    background-color: #006622;
    position: inherit;
    /* position:absolute; */
    /* border-radius:25px; */
    width: 10%;
    height: 12%;
    /* height:inherit; */
}

/* the labels in the table have the same color and font */
td {
    color: #E5FF66;
    font-weight: bold;
    /* font-size:42px; */
    font-size: 300%;
}

/*trek header is inside of masthead table*/
#trekHeader {
    position: relative;
    /* position:inherit; */
    top: 8px;
    /* top:100%; */
    left: 4px;
}

/* move the up letters */
#upHeader {
    position: relative;
    /* position:inherit; */
    bottom: 8px;
    right: 4px;
}

#profPicture {
    width: 50%;
    height: 50%;
}

li {
    display: inline;
}

#navBar {
    position: fixed;
    list-style-type: none;
    top: 0;
    width: 100%;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006622;
}

#homepage {
    float: left;
    margin-left: 0;
}


#profPic {
    float: right;
    margin-right: 0.7%;
    /* width:4%; */
    /* height:4%; */
    width: 60px;
    height: 60px;
}

#profPic:hover {
    background-color: #648B7F;
    cursor: pointer;
}

#mastHead:hover {
    background-color: #648B7F;
    cursor: pointer;
}