/********************************************************
 * Higher-Level Styling 
 ********************************************************/
/* styling for all */
* {
    font-family: 'Times New Roman', Times, serif;
}
/* style the navigation bar */
#nav-bar {
    position: relative;
    list-style-type: none;
    background-color: #ffffff;
    margin-top: 0;
	margin-left:0;
    width: 100%;
	overflow: hidden;
}
/********************************************************
 * Element-Specific Styling 
 ********************************************************/
/* style the mast head */
#mast-head {
    position: inherit;
    float: left;
    background-color: #ffffff;
    vertical-align: left;
    width: 15%;
	height: 15%;
}

/* style the profile image */
#profPic{
	float: right;
	/* margin-right:0.7%; */
    /* padding: 2%; */
	width: 15%;
	height: 15%;
}

/* style hovering over the clickable items */
#mast-head:hover{
	background-color:#648b7f65;
	cursor:pointer;
}

#profPic:hover{
	background-color:#648b7f65;
	cursor:pointer;
}


