/********************************************************
 * Higher-Level Styling 
 ********************************************************/
/* styling for all */
* {
    font-family: 'Times New Roman', Times, serif;
}
/* style the navigation bar */
#nav-bar {
    position: relative;
    list-style-type: none;
    background-color: #ffffff;
    top: 0;
    width: 100%;
    height: 10%;
    margin-top: 0;
	margin-left:0;
	padding: 10px;;
	overflow:hidden;
}
/********************************************************
 * Element-Specific Styling 
 ********************************************************/
/* style the mast head */
#mast-head {
    position: inherit;
    float: left;
    background-color: #ffffff;
    vertical-align: left;
    width: 10%;
	height: 10%;
}

#profPic{
	float: right;
	margin-right:0.7%;
	width: 10%;
	height: 10%;
}

#profPic:hover{
	background-color:#648b7f9e;
	cursor:pointer;
}

#mast-head:hover{
	background-color:#648b7f9e;
	cursor:pointer;
}