/*
Author: Logan Machida
Stylesheet for the static profile page.
*/
body{
  	/*set a gradient background*/
	background-image:linear-gradient(to bottom, #648B7F, #648B7F);
	/*cover the whole page*/
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/* ========================================== */
/* TAKE THIS FOR THE MASTHEAD */
/* ========================================== */
/*the table for the masthead*/
#mastHead{
	background-color:#006622;
	position:inherit;
	/* position:absolute; */
	/* border-radius:25px; */
	width:10%;
	height:12%;
	/* height:inherit; */
}

/* the labels in the table have the same color and font */
td{
	color:#111111;
	font-weight:bold;
	/* font-size:42px; */
	font-size:300%;
}

/*trek header is inside of masthead table*/
#trekHeader{
	position:relative;
	/* position:inherit; */
	top:8px;
	/* top:100%; */
	left:4px;
}

/* move the up letters */
#upHeader{
	position:relative;
	/* position:inherit; */
	bottom:8px;
	right:4px;
}

/* ========================================== */
/* TAKE THIS FOR THE MASTHEAD */
/* ========================================== */


